
// Dark Mode Colors

$background-color:#353b48;

$navbar-background-color:rgb(47, 54, 64);
$navbar-logo-color:#f5f6fa;
$navbar-menu-color:#b2bec3;

$red-color:#d63031;
$text-color:#dfe6e9;
$yellow-color:#fbc531;
$yello-color-2:#e1b12c;
$grey-color:#7f8fa6;
$blue-color:#00a8ff;
$green-color:#4cd137;